* {
    padding: 0;
    margin: 0;
}
#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #222222;
}
#title {
    font-size: 50px;
    font-family: Courier;
    color: #eeee;
    padding-top: 5vh;
}
#cookie {
    background-image: url(./assets/cookie.jpg);
    background-repeat: no-repeat;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    border: none;
    margin-top: 2vh;
    padding-bottom: 144px;
    margin-bottom: 2vh;
}
#counter {
    padding-top: 10vh;
    color: #eeee;
    font-family: Courier;
    font-size: 50px;
}
#plusOne {
    margin-top: 25vh;
    display: absolute;
    color: #eeee;
    font-family: Courier;
    font-size: 30px;
    opacity: 0;
}
#upgrade {
    display: absolute;
    width: 200px;
    height: 50px;
    background-color: #444;
    border: none;
    border-radius: 15px;
    color: #eeee;
    font-family: Courier;
    font-size: 15px;
}